body
html
	font-family $font
	font-size $font-size
	font-weight $normal
	line-height $line-height
	letter-spacing $letter-sp

	strong
		font-family $font
		font-weight $bold
		color darken($secondary, 40%)

	h1
	h2
	h3
	.fakeH1
		font-family $display
		color darken($secondary, 40%)
		font-weight normal

	.fakeH1
	h3
		font-family $display
		letter-spacing -0.02em
		word-spacing 0em
		color $secondary
		max-width $max-text
		margin 0 auto

	.fakeH1
		font-size 19vh
		line-height .85em
		padding-bottom .2em

		span
			display block

	h3
		text-align center
		font-size 4em
		line-height 1em
		padding-bottom .5em
		animation h3in 1800ms ease-out

		@keyframes h3in
			0%
				transform translateY(20px)
				opacity 0
			30%
				transform translateY(20px)
				opacity 0
			80%
				transform translateY(0em)
				opacity 65%
			100%
				opacity 1


	h4
		font-family $font
		font-size 1.8em
		font-weight $bold
		line-height 1em
		padding-bottom 0
		margin 0

	a
		text-decoration none
		color inherit
		transition color 300ms ease-out

		&.active
		&:hover
			color $primary

	p
		// max-width $max-text
		padding 0 .2em
		.primary
			color $primary
		&.intro
			font-size 1.8em
			line-height 1.3em

	::selection
		background white
		color $primary