.fade-enter
	opacity 0
	z-index 1

.fade-enter.fade-enter-active
	opacity 1
	transition opacity 250ms ease-in

.trans-fill
	position absolute
	left 0
	top 0
	bottom 0
	right 0

.trans-content
	@extend .trans-fill
	top 40px
	text-align center

.trans-nav
	padding 0
	margin 0
	position absolute
	top 0
	height 40px
	width 100%
	display flex

.trans-navItem
	text-align center
	flex 1
	list-style-type none
	padding 10px

.trans-hsl
	@extend .trans-fill
	color white
	padding-top 20px
	font-size 30px

.trans-rgb
	@extend .trans-fill
	color white
	padding-top 20px
	font-size 30px
