
// colors
$primary = #ff6b6b
$secondary = #394c61

// fonts

$font = 'Rubik', sans-serif
$display = 'Rubik Mono One'
$font-size = 16px
$line-height = 2em
$letter-sp = 0.1em

$normal = 300
$bold = normal

// sizes
$max-text = 600px
$max-width = 980px
$h-header = 60px

// images
$axon-cover = url('/imgs/axon-cover.jpg')
$gala-cover = url('/imgs/gala-cover.png')
$apsis-cover = url('/imgs/apsis-cover.png')